<!--文章推荐-->
{% load staticfiles  %}
<div class="recommend">
    <p class="recommend-head">
        <b><span>推荐文章</span>   Hot Blog</b>
    </p>
</div>
<!--轮播模块-->
<div id="myslider" class="slider-pro">
    <div class="sp-slides">
        <div class="sp-slide">
            <a href="#"><img src="{% static 'images/a-1.jpg' %}" class="sp-image"/></a>
        </div>
        <div class="sp-slide">
            <a href="#"><img src="{% static 'images/a-2.jpg' %}" class="sp-image"/></a>
        </div>
        <div class="sp-slide">
            <a href="#"><img src="{% static 'images/a-1.jpg' %}" class="sp-image"/></a>
        </div>
        <div class="sp-slide">
            <a href="#"><img src="{% static 'images/a-2.jpg' %}" class="sp-image"/></a>
        </div>
    </div>
    <div class="sp-thumbnails">
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-text">
                <p class="sp-thumbnail-title">慕冬博客</p>
                <div class="sp-thumbnail-description">www.xiandong.xyz</div>
            </div>
        </div>
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-text">
                <p class="sp-thumbnail-title">慕冬博客</p>
                <div class="sp-thumbnail-description">www.xiandong.xyz</div>
            </div>
        </div>
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-text">
                <p class="sp-thumbnail-title">慕冬博客</p>
                <div class="sp-thumbnail-description">www.xiandong.xyz</div>
            </div>
        </div>
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-text">
                <p class="sp-thumbnail-title">慕冬博客</p>
                <div class="sp-thumbnail-description">www.xiandong.xyz</div>
            </div>
        </div>
    </div>
</div>
<!--生活分享-->
<div class="recommend">
    <p class="recommend-head">
        <b><span>生活分享</span> Life Share</b>
    </p>
</div>
<ul class="life-share">
    <li><a href="#"><img src="{% static 'images/a-1.jpg' %}" ></a></li>
    <li><a href="#"><img src="{% static 'images/a-2.jpg' %}" ></a></li>
    <li><a href="#"><img src="{% static 'images/a-3.png' %}" ></a></li>
    <li><a href="#"><img src="{% static 'images/a-4.jpg' %}" ></a></li>
</ul>
<!--最新文章-->
<div class="recommend">
    <p class="recommend-head">
        <b><span>最新文章</span>   New Blog</b>
    </p>
</div>