{% extends 'base.html' %}
{% load staticfiles %}

{#定义分类内容左边块#}
{% block left_content %}
    <div class="article-content-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {# 文章列表部分#}
        <h4 class="article-head">
            <span>分类文章：</span>
            <span><i class="fa fa-list-alt"></i> <a href="/category/{{ category.name }}">{{ category }}</a></span>
        </h4>
        {% include 'article_list.html' %}
        {% include 'pagination.html' %}
    </div>
{% endblock %}

{#定义分类内容右边块#}
{% block right_content %}
    <div class="article-content-right col-lg-4 col-md-4 hidden-sm hidden-xs">
        {% include 'article_content_right.html' %}
    </div>
{% endblock %}